*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
font-family: "neue";
src:
url("../fonts/HelveticaNeue-MediumCond.otf") format("opentype");
}

html {
  width: 100%;
  height: auto;
}

body{
  background-color: white;
}

header h1 {
  float: right;
  padding-top: 40px;
padding-right: 90px;
  font-family: 'Tulpen One', Helvetica, serif;
  font-size: 2em;
  letter-spacing: 1px;
}


h1 {
  font-family: 'neue', sans-serif;
}

section{
  display: block;
  width: auto;
  padding: 5px;

}

.category {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Tulpen one', helvetica, serif;
  letter-spacing: 2px;
  font-size: 2.5em;

}

#logo {
  width: 30vw;
  height: auto;
  margin: 10px 10px 10px 20px;
}

#promo {
  display: inline;
  width: 45%;
  height: auto;
}

.promovideo{
  width: 100%;
  box-shadow: 0px 6px 20px -11px rgba(0,0,0,0.75);
}

.subscribe {
  margin: 50px 0px 50px 0px;
  text-align: center;
  background-color: #b7ac7f;
  box-shadow: 0px 6px 20px -11px rgba(0,0,0,0.75);
  padding: 5px;
}

.subscribe h1, h2 {
  text-transform: uppercase;
  font-family: 'neue', sans-serif;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #fff;
  text-shadow: 2px 1px 0px #3A3A3A;

}

.subscribe h1 {
  font-size: 2em;
}

.subscribe h2 {
  font-size: 1.5em;
}

.subscribe ul, .grid aside ul, .vid_container ul {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 90px;
  padding-bottom: 10px;
}

.subscribe ul li, #send, .grid aside li {
  font-family: 'neue', sans-serif;
  color: white;
  text-transform: uppercase;
list-style: none;
padding: 10px;
background-color: #333333;
border-radius: 5px;

}


/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}




textarea, input {
  display: block;
  -webkit-box-sizing: padding-box;
          box-sizing: padding-box;
  overflow: hidden;
  padding: 10px;
  width: 70%;
  font-size: 14px;
  font-family: 'Helvetica', serif;

  margin: 20px auto;
      border: 1px solid rgba(0,0,0,.15);
}
textarea{
  text-align: left;
}


form {
  margin: 3em auto;
}

.terms img {
  padding: 25px;
  width: 100%;

}



/* Video Galleri */

.vid_container {
  width: auto;
  height: auto;
  background-color: #b7ac7f;
  box-shadow: inherit;
}

.vid_container h1 {
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: 'neue', Helvetica, serif;
  color: white;
  text-shadow: 2px 1px 0px #3A3A3A;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2em;
}

.vid_container ul {
  background-color: #292a2a;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-x: hidden;
  box-shadow: 0px 9px 9px -11px rgba(0,0,0,0.75);
  width: auto;
}

.vid_container a {
  font-size: 1.5em;
  transition: 1s ease;
  text-decoration: none;
  border-right: 2px solid white;
}

.vid_container a:first-child{
  padding-left: 5px;
  border-left: 2px solid white;
}

.vid_container a:last-child {
  padding-right: 5px;
  border-right: 2px solid white;
}

.vid_container a:hover {
  font-size: 3em;
  transition: 0.5s ease;
  list-style-type: none;
  text-decoration: none;

}

.vid_container li {
display: inline;
padding-right: 5px;
font-family: 'neue', sans-serif;
color: white;
text-transform: uppercase;
list-style: none;
}


//* Video player stlyin */
.video-controls {
  position: absolute;
  bottom: -45px;
  left: 50%;
  padding: 7px;
  background: rgba(255, 255, 255, 0.35);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: bottom .25s ease-in;
}

.video-wrapper:focus > video + .video-controls,
.video-wrapper:hover > video + .video-controls {
  bottom: 12px;
  z-index: 2;
}

.btn {
  padding: 5px 0;
  width: 31px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity .175s ease-in;
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  opacity: .25;
}

.progress-bar-fill {
  width: 0;
  height: 4px;
  background-color: #e74c3c;
  transition: width .35s linear;
}

.subscribe a {
  text-decoration: none;
}


.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.faq-question:hover {
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

/** Netflix Slider CSS **/

.video-container {
  margin: 0;
  color: #ecf0f1;
  font-family: 'neue', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
    box-shadow: inherit;
  background-color: transparent;
}





.row h1 {
  text-align: left;
  color: black;
  font-family: 'neue', sans-serif;

}

.video-container p{
  text-align: center;
}

.video-container p {
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.video-container a:link, a:hover, a:active, a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

.video-container a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}

.contain {
  width: 100%;
}

.row {
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 0 auto;

}

.test {
  margin: 0 auto;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid grey;
box-shadow: 0 4px 2px -2px gray;
  opacity: 0.5;
}

.row::-webkit-scrollbar, body::-webkit-scrollbar, nav::-webkit-scrollbar {
    width: 0.5em;
    height: 0.3em;
}

.row::-webkit-scrollbar-track, body::-webkit-scrollbar-track, nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.row::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #333333;
  outline: 1px solid slategrey;
}


.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}

.tile {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 150.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.tile__img {
  width: 280px;
  height: 150.625px;
  -o-object-fit: cover;
     object-fit: cover;

  z-index: 2;
}



.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}

.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 3px;
  margin-top: -21px;
  text-align: center;
  z-index: 2;
}

.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  top: -28px;
  z-index: 1;
  color: black;
}

.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}



/* Burger menu CSS  */

.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 32px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;
}
.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}
.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}
.burger span::before {
  top: -9px;
}
.burger span::after {
  top: 9px;
}
.burger.clicked span {
  background-color: transparent;
}
.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}
.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}
.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff;
}
.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */
nav {
  background-color: #2a2a2a;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}
nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}
nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}
nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}
nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}
nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}
nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}
nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}
nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}
nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .85s;
}
@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}
nav ul.main {
  list-style-type: none;
}
nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li:last-of-type {
  margin-bottom: 0px;
}
nav ul.main li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.main li a span {
  color: #b7ac7f;
}
nav ul.main li a:hover, .about a {
  color: #b7ac7f;
}
nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .about p {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}

nav .about h1{
  float: inherit;
  color: white;
  font-family: "Raleway", sans-serif;
}
nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}
nav .social a:last-of-type {
  margin-right: 0px;
}
nav .social a:hover svg path, nav .social a:hover svg circle {
  fill: #b7ac7f;
}
nav .social a svg {
  width: 100%;
  height: 100%;
}
nav .social a svg path, nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav ul.sub li {
  margin-bottom: 10px;
}
nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}
nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav ul.sub li a:hover {
  color: #b7ac7f;
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #333333 ;
  opacity: 0;
  visibility: hidden;
}
.overlay.show {
  opacity: 0.8;
  visibility: visible;
}



.container{
  font-family: 'Helvetica', serif;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: left;
  box-shadow: inset 1px 1px 9px -3px rgba(0,0,0,0.75);
  background-color: #b7ac7f;
}


.terms h2{
  padding: 10px;
  font-family: 'neue', sans-serif;
  font-size: 2.5em;
  text-align: center;
  color: black;
  text-decoration: none;
  text-shadow: none;
}

.container h1 {
  padding: 10px 0px 10px 10px;
  font-size: 1.5em;
  color: #333333;
  text-decoration: underline;
}

.terms {
  padding: 25px;
}

.container ol {
  padding: 25px;
}

.grid {
  font-family: 'Helvetica', serif;
  width: auto;
  height: auto;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  box-shadow: inset 1px 1px 9px -3px rgba(0,0,0,0.75);
  background-color: #b7ac7f;
}

.grid div{
  margin: 0 auto;

}

.grid aside {
padding: 5px;
}


.grid img {
  width: 100%;
  padding: 5px;
}

.grid aside ul {
  width: 200px;
}

.grid h1 {
  font-size: 2em;
}

.grid a {
  text-decoration: none;
}




@media screen and (min-width: 72em) {


  #logo {
    width: 155px;
    margin: 10px 10px 10px 20px;
  }

.grid {
  width: 50%;
}

  .grid aside {
    padding: 25px;
    width: 50%;
    float: left;

  }


  .grid img {
    padding: 25px;
    width: 50%;
    height: auto;
    float: left;
  }

  .vid_container {
    width: 80%;

  }

.vid_container ul {
  width: 80%;
  box-shadow: 0px 9px 9px -11px rgba(0,0,0,0.75);
    white-space: nowrap;
}

header{
  margin-bottom: 20px;
  height: 155px;
}

  section{
    margin: 0 auto;
    display: block;
    width: 1000px;
    height: 280px;
    background-color: #b7ac7f;
    box-shadow: 0px 21px 37px -34px rgba(0,0,0,0.75);
    padding: 0;
  }

  .promovideo {
    float: left;
    width: 50%;
    height: 280px;
    box-shadow: none;
  }


  .subscribe {
    margin: 0;
    padding-top: 50px;
    display:inline-block;
    width: 49%;
    height: 240px;
    background-color: transparent;
    box-shadow: none;
  }

  .subscribe h1 {
    font-size: 2em;
  }

  .row__inner{
    margin: 82.3125px 100px;
  }


  .video-wrapper {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  z-index: 100;
  }

  .video-controls {
  position: absolute;
  width: 497px;
  height: 280px;
  opacity: 0;
  transition: opacity .35s ease-out;
  }

  .video-controls--show {
  opacity: 1;
  }


  .terms img {
    width: 40%;

  }


  [data-media] {
  padding: 0;
  margin: 0;
  background-color: transparent;
  }

  [data-media="play-pause"] {
  display: block;

  opacity: 1;
  transition: opacity .35s ease-out;
  }
  .paused [data-media="play-pause"] {
    margin: 115px auto 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 52px;
  border-color: transparent transparent transparent #ffffffc9;
  }
  .playing [data-media="play-pause"] {
    margin: 115px auto 0 auto;
  width: 52px;
  height: 60px;
  border: 16px solid #ffffffc9;
  border-top: none;
  border-bottom: none;
  }
  .hide-playhead [data-media="play-pause"] {
  opacity: 0;
  }

  [data-media="mute-unmute"] {
  display: block;
  width: 15px;
  height: 15px;
  background-color: red;
  position: absolute;
  top: 20px;
  right: 20px;
  }

  .container{
    width: 50%;
    height: 100%;
  }

  .wrap{
    width: 90%;
    height: 384px;
    position: fixed;
    z-index: -1;
    background-color: rgba(235, 246, 255, 1);
}

  .terms h2{
    font-family: 'neue', sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: black;
    text-decoration: none;
  }

  .container h1 {
    padding: 10px 0px 10px 25px;
  }

  .terms {
    padding: 25px;
  }


  .container p, .grid p {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    letter-spacing: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .category {
    width: 1000px;
    margin: 0 auto;
    text-align: left;


  }

}


@media screen and (min-width: 91.5em) {

  .video-container {
    padding: 0% 5% 0 5%;
  }



section{
  width:  1383px;
  height: 384px;
}

.terms article {
  padding: 25px;
  width: 60%;
  float: left;
}


  .video-wrapper {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  z-index: 100;
  }

  .video-controls {
  position: absolute;
  width: 682px;
  height: 384px;
  opacity: 0;
  transition: opacity .35s ease-out;
  }

  .video-controls--show {
  opacity: 1;
  }

  [data-media] {
  padding: 0;
  margin: 0;
  background-color: transparent;
  }

  [data-media="play-pause"] {
  display: block;

  opacity: 1;
  transition: opacity .35s ease-out;
  }
  .paused [data-media="play-pause"] {
    margin: 165px auto 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 52px;
  }
  .playing [data-media="play-pause"] {
    margin: 165px auto 0 auto;
  width: 52px;
  height: 60px;
  border-top: none;
  border-bottom: none;
  }
  .hide-playhead [data-media="play-pause"] {
  opacity: 0;
  }

  [data-media="mute-unmute"] {
  background-color: red;
}

.category {
  width: 1383px;
}

.promovideo {

  width: auto;
  max-width: 100%;
  height: 384px;
}

.subscribe {
  height: 340px;
  padding-top: 100px;
}

.subscribe h1 {
  margin-left: 0;
  font-size: 2.5em;
}


}
